<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.project.common.mapper.CommonMapper">

    <select id="findCommonCodeAll" resultType="org.example.project.common.entity.CommonCodeEntity">
        SELECT A.COMMON_CD
        , A.COMMON_GROUP_CD
        , A.COMMON_NAME
        , A.COMMON_VALUE
        , A.VIEW_YN
        , A.SORT_ORDER
        FROM COMMON_CODE A
        <where>
            AND VIEW_YN = 'Y'
            <if test="commonGroupCd != null and commonGroupCd != ''">
                AND A.COMMON_GROUP_CD = #{commonGroupCd}
            </if>
        </where>
        ORDER BY A.COMMON_GROUP_CD, A.SORT_ORDER
    </select>

    <sql id="commonInsertColumnSql">
        , REG_ID
        , REG_DATE
        , MOD_ID
        , MOD_DATE
    </sql>

    <sql id="commonInsertValueSql">
        , 'test'
        , NOW()
        , 'test'
        , NOW()
    </sql>

    <sql id="commonUpdateSql">
        , MOD_ID = 'test'
        , MOD_DATE = NOW()
    </sql>

</mapper>